name: ci

on:
  workflow_call:
    inputs:
      run_task_tests:
        description: "Run task tests"
        required: false
        type: boolean
        default: false
      run_makefile_tests:
        description: "Run makefile tests"
        required: false
        type: boolean
        default: false
      makefile_test_name:
        description: "Makefile task test name"
        required: false
        type: string
        default: "test"
      makefile_test_coverage_report_paths:
        description: "Coverage report paths (space-separated)"
        required: false
        type: string
        default: "cover.html cover.out"
      enable_sonar_scan:
        description: "Enabling Sonar Scan task"
        required: false
        type: boolean
        default: false
      sonar_go_coverage_report_paths:
        description: "Path to Go coverage file"
        required: false
        type: string
        default: "cover.out"

permissions:
  contents: read
  pull-requests: read

jobs:
  validate-and-testing:
    runs-on: ubuntu-latest

    steps:
      - name: Init
        id: init
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "internal_pr=$([[ '${{ github.event.pull_request.head.repo.full_name }}' == '${{ github.repository }}' ]] && echo true || echo false)" >> "$GITHUB_OUTPUT"
          else
            echo "internal_pr=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Generate token from GitHub App
        id: generate-token
        if: steps.init.outputs.internal_pr == 'true' && github.actor != 'dependabot[bot]'
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42  # v2.1.4
        with:
          app-id: ${{ secrets.APP_PUSH_TAG_ID }}
          private-key: ${{ secrets.APP_PUSH_TAG_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token || github.token }}
          fetch-tags: true
          fetch-depth: 0
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Checkout build (taskfiles) repo
        run: |
          git clone --branch main --single-branch https://github.com/openkcm/build.git ./hack/common

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 #v2.0.0
        with:
          version: 3.x
          repo-token: ${{ steps.generate-token.outputs.token || github.token }}

      - name: task validate
        run: task validate --verbose

      - name: task unit tests
        if: ${{ inputs.run_task_tests }}
        run: task test --verbose

      - name: makefile advanced tests
        if: ${{ inputs.run_makefile_tests }}
        run: |
          # Install bash if missing
          if ! command -v bash >/dev/null 2>&1; then
            sudo apt-get update
            sudo apt-get install -y bash
          fi
          
          # Run Makefile tests
          make "${{ inputs.makefile_test_name }}"

      - name: SonarQube Scan
        if: ${{ github.ref_type != 'tag' && inputs.enable_sonar_scan }}
        uses: SonarSource/sonarqube-scan-action@a31c9398be7ace6bbfaf30c0bd5d415f843d45e9 # v7.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.projectKey=${{ github.repository_owner }}_${{ github.event.repository.name }}
            -Dsonar.projectName=${{ github.event.repository.name }}
            -Dsonar.organization=${{ github.repository_owner }}
            -Dsonar.go.coverage.reportPaths=${{ inputs.sonar_go_coverage_report_paths }}

      - name: SonarQube Quality Gate check
        if: ${{ github.ref_type != 'tag' && inputs.enable_sonar_scan }}
        id: sonarqube-quality-gate-check
        uses: SonarSource/sonarqube-quality-gate-action@cf038b0e0cdecfa9e56c198bbb7d21d751d62c3b # v1.2.0
        with:
          pollingTimeoutSec: 600
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: upload coverages
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-report
          path: |
            ${{ inputs.makefile_test_coverage_report_paths }}
            ${{ inputs.sonar_go_coverage_report_paths }}
          if-no-files-found: warn
          retention-days: 30

