name: Labeler

on:
  workflow_call:

jobs:
  execute:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write  # Needed for non-fork PR labeling

    steps:
      - name: Init
        id: init
        run: |
          internal_pr=false
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            [[ '${{ github.event.pull_request.head.repo.full_name }}' == '${{ github.repository }}' ]] && internal_pr=true || internal_pr=false
          else
            internal_pr=true
          fi
          echo "internal_pr=${internal_pr}" >> "$GITHUB_OUTPUT"

      - name: Generate token from GitHub App
        id: generate-token
        if: steps.init.outputs.internal_pr == 'true' && github.actor != 'dependabot[bot]'
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42  # v2.1.4
        with:
          app-id: ${{ secrets.APP_PUSH_TAG_ID }}
          private-key: ${{ secrets.APP_PUSH_TAG_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: ${{ steps.generate-token.outputs.token || github.token }}
          fetch-tags: true
          fetch-depth: 0
          submodules: recursive

      - name: Checkout build (taskfiles) repo
        run: |
          git clone --branch main --single-branch https://github.com/openkcm/build.git ./hack/common

      - name: Copy labeler.yml
        run: |
          cp ./hack/common/.github/labeler.yml .github/labeler.yml

      - name: Run labeler
        if: steps.init.outputs.internal_pr == 'true'
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b #v6.0.1
        with:
          repo-token: ${{ steps.generate-token.outputs.token || github.token }}
