name: Publish

on:
  workflow_call:
    secrets:
      COSIGN_PRIVATE_KEY:
        required: false
      COSIGN_PASSWORD:
        required: false
    inputs:
      image_signing_enabled:
        description: 'Enable image signing (true|false)'
        required: false
        default: false
        type: boolean
      dispatch_repository_name:
        description: 'Dispatched Repository Name'
        required: false
        default: ""
        type: string

permissions:
  packages: write
  contents: read

jobs:
  artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token from GitHub App
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        with:
          app-id: ${{ secrets.APP_PUSH_TAG_ID }}
          private-key: ${{ secrets.APP_PUSH_TAG_PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-tags: true
          fetch-depth: 0
          submodules: recursive

      - name: Checkout build (taskfiles) repo
        run: |
          git clone --branch main --single-branch https://github.com/openkcm/build.git ./hack/common

      - name: Install Task
        uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 #v2.0.0
        with:
          version: 3.x
          repo-token: ${{ steps.generate-token.outputs.token }}

      - name: Run trivy repository security scanner
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 #v0.33.1
        with:
          token-setup-trivy: ${{ steps.generate-token.outputs.token }}
          scan-type: repository
          format: json
          output: trivy-repository-vuln.json
          severity: CRITICAL,HIGH,MEDIUM

      - name: Run tfsec security scanner
        uses: aquasecurity/tfsec-action@b466648d6e39e7c75324f25d83891162a721f2d6 #v1.0.3
        with:
          github_token:  ${{ steps.generate-token.outputs.token }}
          format: json

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        timeout-minutes: 5
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          version: latest

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: go.mod

      - name: Build and Push
        env:
          IMAGE_SIGNING_ENABLED: ${{ inputs.image_signing_enabled }}
          COSIGN_PRIVATE_KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
          IMAGE_NAME: ${{ github.event.repository.name }}
        run: |
          task build-and-push --verbose
          

      - name: Repository Dispatch Generate Token
        id: repository-generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf  # v2.2.1
        if: ${{ inputs.dispatch_repository_name != '' }}
        with:
          app-id: ${{ secrets.APP_PUSH_TAG_ID }}
          private-key: ${{ secrets.APP_PUSH_TAG_PRIVATE_KEY }}
          repositories: ${{ inputs.dispatch_repository_name }}

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@28959ce8df70de7be546dd1250a005dd32156697 #v4.0.1
        if: ${{ inputs.dispatch_repository_name != '' }}
        with:
          token: ${{ steps.repository-generate-token.outputs.token }}
          repository: "openkcm/${{ inputs.dispatch_repository_name }}"
          event-type: plugin-update
          client-payload: |-
            {
                "source_repo": "${{ github.repository }}",
                "plugin_name": "${{ github.event.repository.name }}",
                "version": "${{ github.ref_name }}",
                "sha": "${{ github.sha }}",
                "actor": "${{ github.actor }}"
            }
