name: New Release (Manual Trigger)

on:
  workflow_call:

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: Generate token from GitHub App
        id: generate-token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42  # v2.1.4
        with:
          app-id: ${{ secrets.APP_PUSH_TAG_ID }}
          private-key: ${{ secrets.APP_PUSH_TAG_PRIVATE_KEY }}

      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-tags: true
          fetch-depth: 0
          submodules: recursive

      - name: Release Please
        id: github_release
        uses: release-please-oss/release-please-action@8c118d9f927137f4074a20dad656e51fe2ae289c #v5.3.1
        with:
          release-type: go
          token: ${{ steps.generate-token.outputs.token }}
